/***************** GENEREL CSS - MOBIL *****************/
* {
    gap: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video {
}

img {
    width: 100%;
    height: auto;
}

body {
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}


section {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
    text-decoration: none;
}

h1 {
    font-family: 'Roboto Condensed';
}

h2 {
    font-family: 'Roboto Condensed';
    font-size: 2rem;
    padding-bottom: 1rem;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
}

h5 {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    line-height: 1.3;
}

.logo {
    font-weight: 400;
}

.logo a {
    font-weight: 400;
    color: black;
}

.forside_txt {  
    line-height: 2;
    letter-spacing: 2rem;
    text-align: center;
}



/***************** HEADER - MOBIL *****************/
header {
    position: sticky;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
    padding-top: 20px;
    background-color: white;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center
    padding-bottom: 10px;
    justify-content: center;
    gap: 15px;
    transition: transform 0.3s;
    transform: translateX(-100%);
}

#menu.open {
    transform: translateX(0);
}

#menu a {
    display: block;
    text-align: center;
    color: black;
}

#menu a:hover {
    color: #192F37
}

#burger_knap {
    width: 30px;
    height: 30px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
}

.streg {
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: black;
    top: calc(50%);
    left: 0;
    transition: transform 0.3s, opacity 0.3s;
}

.streg.top {
    transform: translateY(-10px);
}

.streg.bottom {
    transform: translateY(10px);
}


/* #burger_knap */

#burger_knap.open .streg.top {
    transform: translateY(0) rotate(45deg);
}

#burger_knap.open .streg.center {
    transform: translateX(100%);
    opacity: 0;
}

#burger_knap.open .streg.bottom {
    transform: translateY(0) rotate(-45deg);
}

/***************** FORSIDE - MOBIL *****************/

.first_section_forside {
    display: grid;
    background-image: url(img/splashbillede.jpg);
    align-items: center;
    background-size: cover;
    height: calc(100vh - 140px); 
}

.second_section_forside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 70px;
    height: calc(100vh - 140px);   
}

.second_section_forside .section_wrapper_1 {
    display: grid;
    background-color: #313131;
    color: white;
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.second_section_forside .section_wrapper_1 a{
    color: white;
}

.second_section_forside .section_wrapper_1 a:hover{
    color: black;
}

.second_section_forside .section_wrapper_2 {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%; 
    width: 100%;
    background-color: white;
}

.second_section_forside .section_wrapper_2 img {
    scale: 30%;
}

/***************** ABOUT - MOBIL *****************/
.first_section_about {
    margin-bottom: 70px;
    height: calc(100vh - 140px); 
}

.first_section_about .section_wrapper_1 {
    background-image:url(img/about.jpg);
    background-size: cover;
    background-position: 100%;
    color: white;
    height: 100%;
    width: 100%;
}

.first_section_about .section_wrapper_1 a{
    color: white;
}

.first_section_about .section_wrapper_1 a:hover{
    color: black;
}

.first_section_about .section_wrapper_2 {
    padding-top: 2rem;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 70px;
}

/***************** PROJECTS - MOBIL *****************/
.first_section_projects {
padding-bottom: 4rem;
}

.first_section_projects .section_wrapper_1 {
    padding-bottom: 2rem;
}

.first_section_projects .section_wrapper_1 .img1{
    background-image: url(img/02_website.png);
    background-size: cover;
    width: 100%;
    height: auto;
}


.first_section_projects .section_wrapper_1 {
    padding-bottom: 2rem;
}

.first_section_projects .section_wrapper_1 a{
    color: white;
}

.first_section_projects .section_wrapper_1 a:hover{
    color: black;
}














.second_section_projects {
padding-bottom: 4rem;
}

.second_section_projects .section_wrapper_1 {
    padding-bottom: 2rem;
}

.second_section_projects .section_wrapper_1 a{
    color: white;
}

.second_section_projects .section_wrapper_1 a:hover{
    color: black;
}

.second_section_projects  .section_wrapper_2 {
}

.third_section_projects {
padding-bottom: 4rem;
}

.third_section_projects .section_wrapper_1 {
    padding-bottom: 2rem;
    color: white;
}

.third_section_projects .section_wrapper_1 a{
    color: white;
}

.third_section_projects .section_wrapper_1 a:hover{
    color: black;
}

.third_section_projects  .section_wrapper_2 {
}

.fourth_section_projects {
padding-bottom: 4rem;
}

.fourth_section_projects .section_wrapper_1 {
    padding-bottom: 2rem;
    color: white;

}

.fourth_section_projects .section_wrapper_1 a{
    color: white;
}

.fourth_section_projects .section_wrapper_1 a:hover{
    color: black;
}

.fourth_section_projects  .section_wrapper_2 {

}
$   
/***************** CONTACT - MOBIL *****************/
.form_wrapper h2 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 1rem;
}

.form_wrapper p {
    font-weight: 500;
    padding-bottom: 3rem;
    color: grey;
    line-height: 1.8;
}

form textarea {
    border: none;
    resize: none;
    border: 2px black solid;
    width: 100%;
    height: 14.5rem;
}

form input {
    border: none;
    border: 2px black solid;
    width: 100%;
    padding: 10px;
    
}

button {
    background-color: black;
    color: white;
    font-weight: 600;
    height: 40px;
    border: none;
    width: 80px;
    cursor: pointer;
}

.submit_knap {
    padding-top: 1.5rem;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}


.form_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form_container_1{
    display: grid;
    gap: 2rem;
}

form {
    display: grid;
    gap: 1.5rem;
    width: 100%;
}


/* FOOTER - MOBIL */
footer {
    position: fixed;
    color: #696969;
    font-size: 0.8rem;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    background-color: white;
}

.footer_hoejre {
    text-align: right;
}

/***************** FOOTER - MOBIL *****************/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    color: #696969;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_hoejre {
    text-align: right;
}


/***************** FOOTER - DESKTOP *****************/

@media(min-width: 975px)  {

    body {
        padding-left: 30px;
        padding-right: 30px;
    }

    main {
    }

    section {
    }
    

    /* HEADER */

    header {
    }
    
    header nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    
    #burger_knap {
        display: none;
    }
    
    header nav ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        flex-flow: row;
        overflow-x: auto;        
    }
    
    #menu {
        position: relative;
        display: flex;
        height: 40px;
        top: 0px;
        background-color: transparent;
        width: auto;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: none;
        transform: translateX(0%);
        gap: 40px;
    }
    
    #menu a {
        display: block;
    }

    footer {
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .footer_hoejre {
        text-align: right;
    }




    /***************** FORSIDE - DESKTOP *****************/
    .second_section_forside {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    .second_section_forside .section_wrapper_1 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .second_section_forside .section_wrapper_2 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    


    /***************** ABOUT - DESKTOP *****************/
    .first_section_about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 30px;
    }
    
    .first_section_about .section_wrapper_1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .first_section_about .section_wrapper_2 {
        grid-column: 2/3;
        grid-row: 1/2;
        display: grid;
        align-content: center;
        justify-content: center;
    }
    .first_section_about .section_wrapper_2 .cv {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .first_section_about .section_wrapper_2 .work_experience {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .first_section_about .section_wrapper_2 .education {
        grid-column: 2/3;
        grid-row: 1/2;
    }





    /***************** PROJECTS - DESKTOP *****************/
    .first_section_projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: calc(100vh - 140px); 
        padding-bottom: 0rem;
        gap: 30px;
    }
    
    .first_section_projects .section_wrapper_1 {
        align-items: center;
        justify-content: center;
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
        padding-bottom: 0px;
    }

    .first_section_projects .section_wrapper_1 .img1{
        grid-column: 1/5;
        grid-row: 1/4;
        background-image: url(img/02_website.png);
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .first_section_projects .section_wrapper_1 .img2{
        grid-column: 1/2;
        grid-row: 4/5;
        background-image:url(img/02_web_logo.png);
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .first_section_projects .section_wrapper_1 .img3{
        background-image:url(img/02_nav.png);
        background-size: cover;
        grid-column: 2/3;
        grid-row: 4/5;
        width: 100%;
        height: 100%;
    }

    .first_section_projects .section_wrapper_1 .img4{
        object-fit: cover;
        background-image: url(img/02_web_bjerge.png);
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .first_section_projects .section_wrapper_1 .img5{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column: 4/5;
        grid-row: 4/5;
        width: 100%;
        height: 100%;
    }

    .first_section_projects .section_wrapper_1 .img5 .farve1
    {
        background-color: #FEDBC7;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .first_section_projects .section_wrapper_1 .img5 .farve2
    {
        background-color: #F75856;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .first_section_projects .section_wrapper_1 .img5 .farve3
    {
        background-color: #FF5900;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .first_section_projects .section_wrapper_1 .img5 .farve4{
        background-color: #3E3A4B;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .first_section_projects .section_wrapper_2 {
        grid-column: 2/3;
        grid-row: 1/2;
        /* max-width: 800px; */
        display: grid;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .first_section_projects .section_wrapper_2 a {
        border: 2px black solid;
    }





    .second_section_projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: calc(100vh - 140px); 
        padding-bottom: 0rem;
        gap: 30px;
    }

    .second_section_projects .section_wrapper_1 {
        align-items: center;
        justify-content: center;
        display: grid;
        grid-column: 2/3;
        grid-row: 1/2;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
        padding-bottom: 0px;
    }


    .second_section_projects .section_wrapper_1 .img1{
        grid-column: 1/5;
        grid-row: 1/4;
        background-image: url(img/03_ux_website.png);
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .second_section_projects .section_wrapper_1 .img2{
        grid-column: 4/5;
        grid-row: 4/5;
        background-image:url(img/03_ux_knap.png);
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .second_section_projects .section_wrapper_1 .img3{
        background-image:url(img/03_ux_logo.png);
        background-size: cover;
        grid-column: 2/3;
        grid-row: 4/5;
        width: 100%;
        height: 100%;
    }

    .second_section_projects .section_wrapper_1 .img4{
        object-fit: cover;
        background-image: url(img/03_ux_tshirts.png);
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .second_section_projects .section_wrapper_1 .img5{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column: 1/2;
        grid-row: 4/5;
        width: 100%;
        height: 100%;
    }

    .second_section_projects .section_wrapper_1 .img5 .farve1{
        background-color: #FFFFFF;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .second_section_projects .section_wrapper_1 .img5 .farve2
    {
        background-color: #B8CCCD;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .second_section_projects .section_wrapper_1 .img5 .farve3
    {
        background-color: #69BAAA;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .second_section_projects .section_wrapper_1 .img5 .farve4{
        background-color: #192F37;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .second_section_projects .section_wrapper_1 .img5 .second_section_projects .section_wrapper_2 {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        align-items: center;
        justify-content: center;
    }



    .second_section_projects .section_wrapper_2 {
        grid-column: 1/2;
        grid-row: 1/2;
        /* max-width: 800px; */
        display: grid;
        align-items: center;
        justify-content: center;
        align-content: center;
    }









   
    .third_section_projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: calc(100vh - 140px); 
        padding-bottom: 0rem;
        gap: 30px;
    }

    .third_section_projects .section_wrapper_1 {
        align-items: center;
        justify-content: center;
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
        padding-bottom: 0px;
    }

    .third_section_projects .section_wrapper_1 .img1{
        grid-column: 1/5;
        grid-row: 1/4;
        background-image: url(img/04_animatin_spilskaerm.png);
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .third_section_projects .section_wrapper_1 .img2{
        grid-column: 1/2;
        grid-row: 4/5;
        background-image:url(img/04_animation_regler.png);
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .third_section_projects .section_wrapper_1 .img3{
        background-image:url(img/04_animation_hval.png);
        background-size: cover;
        grid-column: 2/3;
        grid-row: 4/5;
        width: 100%;
        height: 100%;
    }

    .third_section_projects .section_wrapper_1 .img4{
        object-fit: cover;
        background-image: url(img/04_ux_logo.png);
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .third_section_projects .section_wrapper_1 .img5{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column: 4/5;
        grid-row: 4/5;
        width: 100%;
        height: 100%;
    }

    .third_section_projects .section_wrapper_1 .img5 .farve1{
        background-color: #D37FE0;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .third_section_projects .section_wrapper_1 .img5 .farve2{
        background-color: #519ACD;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .third_section_projects .section_wrapper_1 .img5 .farve3{
        background-color: #F1D2AB;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .third_section_projects .section_wrapper_1 .img5 .farve4{
        background-color: #B0D263;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .third_section_projects .section_wrapper_2 {
        grid-column: 2/3;
        grid-row: 1/2;
        /* max-width: 800px; */
        display: grid;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .third_section_projects .section_wrapper_2 a {
        border: 2px black solid;
    }











    .fourth_section_projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: calc(100vh - 140px); 
        padding-bottom: 0rem;
        gap: 30px;
        margin-bottom: 70px;
    }

    .fourth_section_projects .section_wrapper_1 {
        align-items: center;
        justify-content: center;
        display: grid;
        grid-column: 2/3;
        grid-row: 1/2;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
        padding-bottom: 0px;
    }


    .fourth_section_projects .section_wrapper_1 .img1{
        grid-column: 1/5;
        grid-row: 1/4;
        background-image: url(img/05_indhold_kraftvrk.png);
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .fourth_section_projects .section_wrapper_1 .img2{
        grid-column: 4/5;
        grid-row: 4/5;
        background-image:url(img/05_indhold_video.png);
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .fourth_section_projects .section_wrapper_1 .img3{
        background-image:url(img/05_animation_kraftvrk.png);
        background-size: cover;
        grid-column: 2/3;
        grid-row: 4/5;
        width: 100%;
        height: 100%;
    }

    .fourth_section_projects .section_wrapper_1 .img4{
        object-fit: cover;
        background-image: url(img/05_indhold_portraet.png);
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .fourth_section_projects .section_wrapper_1 .img5{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column: 1/2;
        grid-row: 4/5;
        width: 100%;
        height: 100%;
    }

    .fourth_section_projects .section_wrapper_1 .img5 .farve1{
        background-color: #FFFFFF;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .fourth_section_projects .section_wrapper_1 .img5 .farve2
    {
        background-color: #F0E3D2;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .fourth_section_projects .section_wrapper_1 .img5 .farve3
    {
        background-color: #CDA269;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .fourth_section_projects .section_wrapper_1 .img5 .farve4{
        background-color: #192F37;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .fourth_section_projects .section_wrapper_1 .img5 .second_section_projects .section_wrapper_2 {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        align-items: center;
        justify-content: center;
    }



    .fourth_section_projects .section_wrapper_2 {
        grid-column: 1/2;
        grid-row: 1/2;
        /* max-width: 800px; */
        display: grid;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
}

